{% extends 'base.html.twig' %}

{% block title %}All categories{% endblock %}

{% block body %}
    <h1>Toutes les categories de la table category:</h1>
    {% for category in categories %}
        <div>
            <h2>{{ loop.index }} / <a href="{{ path("category_show", { categoryName: category.name })}}">{{ category.name }} : </a></h2>
        </div>
    {% else %}
        Aucune catégorie trouvée.
    {% endfor %}

    <!--<h3><a href="{# {{ path('category_new') }}#}">Ajouter une catégorie</a></h3>--><!--Q11 ajouter en tant qu'administrateur, ne pas afficher de lien pour l'utilistateur -->
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}