{% extends 'base.html.twig' %}

{% block title %}All categories{% endblock %}

{% block body %}
    <h1>Toutes les categories de la table category:</h1>
    {% for category in categories %}
        <div>
            <h2>{{ loop.index }} / <a href="{{ path("category_show", { categoryName: category.name })}}">{{ category.name }} : </a></h2>
        </div>
    {% else %}
        Aucune catégorie trouvée.
    {% endfor %}

    <p><a href="{{ path('category_new') }}">Ajouter une catégorie</a></p>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}