{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ program.title }}</h1>

<h2>Saison {{ season.number }}</h2>

<h3> Episode N° {{ episode.number }} : {{ episode.title }}</h3>

<p>{{ episode.synopsis }}</p>
{% endblock %}