{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.synopsis }}</p>
            <p>Catégorie : {{ program.category.name }}</p>

            <h2 class="mt-0">saisons</h2>
            {%for season in seasons %}
                <a href="{{ path("program_season_show", {"program_id" : program.id, "season_id": season.id }) }}"><p>Saison {{ season.number}}</p></a>
            {% endfor %}

        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>

{% endblock %}